@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-foreground: #222222;
  --color-background: #fafafa;
  --color-primary: #3182ce;
  --color-secondary: #2c5282;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: #ffffff;
    --color-background: #1a202c;
    --color-primary: #3182ce;
    --color-secondary: #2c5282;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
