.head-img figure img,
main figure a img {
	width: 100%
}

.logo,
.main-menu,
h3 {
	text-transform: uppercase
}

.hidden {
	display: none
}

.head-wrap {
	max-width: 1700px!important;
	max-width: 106.25rem!important
}

.top-line {
	margin-top: 3.125em;
	overflow: hidden
}

.logo {
	font-family: IncosolataRegular, sans-serif;
	font-size: 50px;
	color: #000
}

body,
h2,
p {
	color: #626262
}

.main-menu {
	float: right
}

.main-menu ul {
	margin: 0;
	display: block
}

.main-menu ul li,
footer i,
footer p {
	display: inline-block
}

.main-menu ul li {
	margin-right: 10.375em;
	font-family: PlayfairDisplayRegular, sans-serif;
	margin-top: 1.563em
}

.main-menu ul li:last-child {
	margin-right: 0
}

.main-menu ul li a {
	color: #626262;
	font-size: 22.4px;
	font-size: 1.4rem
}

#toggle {
	width: 28px;
	height: 30px;
	position: absolute;
	top: 23px;
	right: 15px
}

#toggle div {
	width: 100%;
	height: 5px;
	background: #000;
	margin: 4px auto;
	transition: all .3s;
	backface-visibility: hidden
}

#toggle.on .one {
	transform: rotate(45deg) translate(5px, 5px)
}

#toggle.on .two {
	opacity: 0
}

#toggle.on .three {
	transform: rotate(-45deg) translate(7px, -8px)
}

body,
h3 {
	font-size: 16px
}

.head-img {
	margin: 5em 0 3.125em
}

.head-img figure,
main figure,
p {
	margin: 0
}

::-webkit-input-placeholder {
	color: #666;
	opacity: 1
}

:-moz-placeholder {
	color: #666;
	opacity: 1
}

::-moz-placeholder {
	color: #666;
	opacity: 1
}

:-ms-input-placeholder {
	color: #666;
	opacity: 1
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: RobotoRegular, sans-serif;
	overflow-x: hidden
}

.row {
	max-width: 1200px;
	max-width: 75rem
}

.full-width {
	max-width: 100%
}

h2 {
	font-size: 36px;
	font-size: 2.25rem;
	margin: 2.5rem 0 3.125rem
}

h3 {
	color: #b4ad9e;
	font-size: 1rem;
	margin-top: 3.125rem
}

p {
	font-size: 16px;
	font-size: 1rem
}

section {
	margin-bottom: 10em;
	display: none
}

.news {
	background: #f0f0f0;
	padding: 118px 0
}

.news h2 {
	color: #333;
	text-align: center;
	margin: 0 0 5rem
}

.newsletter {
	width: 80%;
	height: 44px;
	border-bottom: 2px solid #000;
	margin: 0 auto;
	position: relative;
}

.newsletter input[type=email] {
	background-color: #f0f0f0;
	width: 85%;
	border: none;
	box-shadow: none;
	display: inline-block;
	font-size: 22.4px;
	font-size: 1rem;
	color: #333
}

.newsletter input[type=email]::-webkit-input-placeholder {
	color: #626262
}

.newsletter input[type=email]::-moz-placeholder {
	color: #626262
}

.newsletter input[type=email]:-moz-placeholder {
	color: #626262
}

.newsletter input[type=email]:-ms-input-placeholder {
	color: #626262
}

.newsletter button[type=submit] {
	position: absolute;
	top: 5px;
	right: 8px;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 30px;
	color: #000;
	background-color: transparent;
	cursor: pointer;
	-webkit-transition: #000 .2s;
	transition: #000 .2s;
}

.newsletter button[type=submit] i {
	font-size: 32px;
	font-size: 2rem
}

.load-wrap {
	text-align: center;
	margin-bottom: 100px
}

#load {
	color: #626262;
	font-size: 24px;
	font-size: 1.5rem;
	border: 1px solid #626262;
	padding: 15px 30px
}

footer {
	background: #f0f0f0;
	padding: 40px 0
}

footer .terms {
	margin-left: 21.25rem
}

footer .social {
	font-size: 22px;
	text-align: right;
	margin-right: 21.25rem
}

footer p {
	color: #000;
	margin: 0
}

footer i {
	color: #626262;
	margin-left: 32px
}

@media only screen and (max-width:768px) {
	.animated {
		-o-transition-property: none!important;
		-moz-transition-property: none!important;
		-ms-transition-property: none!important;
		-webkit-transition-property: none!important;
		transition-property: none!important;
		-o-transform: none!important;
		-moz-transform: none!important;
		-ms-transform: none!important;
		-webkit-transform: none!important;
		transform: none!important;
		-webkit-animation: none!important;
		-moz-animation: none!important;
		-o-animation: none!important;
		-ms-animation: none!important;
		animation: none!important
	}
}

@font-face {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("truetype")
}

@font-face {
	font-family: UbuntuLight;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/UbuntuLight/UbuntuLight.eot?#iefix) format("embedded-opentype"), url(../fonts/UbuntuLight/UbuntuLight.woff) format("woff"), url(../fonts/UbuntuLight/UbuntuLight.ttf) format("truetype")
}

@font-face {
	font-family: PlayfairDisplayRegular;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff) format("woff"), url(../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf) format("truetype")
}

@font-face {
	font-family: IncosolataRegular;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/IncosolataRegular/IncosolataRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/IncosolataRegular/IncosolataRegular.woff) format("woff"), url(../fonts/IncosolataRegular/IncosolataRegular.ttf) format("truetype")
}

@font-face {
	font-family: RobotoRegular;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff"), url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype")
}

@media only screen and (min-width:320px) {
	.newsletter button[type=submit] i,
	h2 {
		font-size: 1.5rem
	}
	.logo,
	footer .social,
	footer .terms {
		text-align: center
	}
	.top-line {
		margin-top: 0
	}
	.top-line .main-menu {
		width: 100%;
		display: none
	}
	.top-line .main-menu ul li {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center
	}
	.head-img {
		margin: 2.5em 0 0
	}
	.first-h3,
	section {
		margin: 0
	}
	h3 {
		margin-top: 1.5rem
	}
	h2 {
		margin: 1rem 0 1.5rem
	}
	section .column {
		margin-top: 3em
	}
	.news {
		padding: 5px 0 15px;
		margin-top: 1.5em
	}
	.news h2 {
		margin: 0 0 1rem
	}
	.load-wrap {
		margin-top: 30px;
		margin-bottom: 50px
	}
	footer {
		padding: 20px 0;
	}
	footer .terms {
		margin-left: 0;
		margin-bottom: 10px;
	}
	footer .social {
		margin-right: 0
	}
}

@media only screen and (min-width:400px) {
	.newsletter {
		width: 300px;
	}
}

@media only screen and (min-width:768px) {
	.main-menu ul {
		text-align: center
	}
	.top-line .main-menu ul li {
		display: inline-block;
		margin-right: 30px
	}
	.top-line .main-menu ul li:last-child {
		margin-right: 0
	}
	.top-line .main-menu {
		display: block
	}
	#toggle {
		display: none
	}
	.head-img {
		margin: 1em 0 0
	}
	section .column {
		margin-top: 2em
	}
	h2 {
		font-size: 2rem
	}
	.newsletter {
		width: 35%
	}
	.newsletter input[type=email] {
		width: 90%
	}
}

@media only screen and (min-width:992px) {
	.top-line .main-menu ul li {
		float: right
	}
}

@media only screen and (min-width:1200px) {
	.newsletter {
		width: 30%
	}
}
